# Python
__pycache__/
*.py[cod]
*.egg-info/
*.whl
.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Checkpoints / artifacts
*.pt
*.pth
*.ckpt
dist/
.pypirc


# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
